{{ .Header }}

module "tags" {
  source = "{{ .ModulesPath }}/core/tags{{ .ModulesRef }}"

  project     = var.project
  environment = var.environment
  component   = "ecs"
  owner       = var.owner
  cost_center = var.cost_center
  extra_tags  = var.extra_tags
}

module "network" {
  source = "{{ .ModulesPath }}/cloud/aws/network{{ .ModulesRef }}"

  name               = var.name
  environment        = var.environment
  cidr_block         = var.vpc_cidr_block
  availability_zones = var.availability_zones

  public_subnet_cidrs  = var.public_subnet_cidrs
  private_subnet_cidrs = var.private_subnet_cidrs

  enable_nat_gateway = var.enable_nat_gateway
  single_nat_gateway = var.single_nat_gateway
  tags               = module.tags.tags
}

module "ecs_cluster" {
  source = "{{ .ModulesPath }}/orchestrators/ecs/cluster{{ .ModulesRef }}"

  name                      = var.name
  environment               = var.environment
  enable_container_insights = var.enable_container_insights
  capacity_providers        = var.capacity_providers
  tags                      = module.tags.tags
}
