{{ .Header }}

provider "aws" {
  region = var.region
{{- if .AWSProfile }}
  profile = "{{ .AWSProfile }}"
{{- end }}
{{- if .AWSRoleARN }}

  assume_role {
    role_arn = "{{ .AWSRoleARN }}"
  }
{{- end }}

  default_tags {
    tags = {
      Project     = "{{ .Project }}"
      Environment = "{{ .Environment }}"
      ManagedBy   = "ClusterForge"
    }
  }
}
