{{ .Header }}

variable "location" {
  description = "Azure region."
  type        = string
  default     = "{{ .Region }}"
}

variable "project" {
  description = "Project name."
  type        = string
  default     = "{{ .Project }}"
}

variable "environment" {
  description = "Environment name."
  type        = string
  default     = "{{ .Environment }}"
}

variable "name" {
  description = "Cluster name."
  type        = string
  default     = "{{ .Name }}"
}

variable "resource_group_name" {
  description = "Azure resource group name."
  type        = string
}

variable "address_space" {
  description = "VNet address space."
  type        = list(string)
  default     = ["10.40.0.0/16"]
}

variable "subnet_prefixes" {
  description = "Subnet prefixes."
  type        = list(string)
  default     = ["10.40.1.0/24"]
}

variable "kubernetes_version" {
  description = "AKS Kubernetes version."
  type        = string
  default     = ""
}

variable "dns_prefix" {
  description = "AKS DNS prefix."
  type        = string
  default     = "{{ .Name }}"
}

variable "default_node_pool" {
  description = "Default node pool settings."
  type        = any
  default     = {}
}

variable "tags" {
  description = "Azure tags."
  type        = map(string)
  default     = {}
}
