{{ .Header }}
# ClusterForge does not provision Nomad hosts in this target.
module "cluster_config" {
  source = "{{ .ModulesPath }}/orchestrators/nomad/cluster"
  name = var.name
  environment = var.environment
  datacenter = var.datacenter
}
