{{ .Header }}

variable "project_id" {
  description = "GCP project ID."
  type        = string
}

variable "region" {
  description = "GCP region."
  type        = string
  default     = "{{ .Region }}"
}

variable "project" {
  description = "ClusterForge project."
  type        = string
  default     = "{{ .Project }}"
}

variable "environment" {
  description = "Environment name."
  type        = string
  default     = "{{ .Environment }}"
}

variable "name" {
  description = "Cluster name."
  type        = string
  default     = "{{ .Name }}"
}
